body {
    margin: 0px;
  }
  
  .hero {
    max-width: 2000px;
    margin-top: 46px;
  }
  /* NAVBAR */
  .navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    height: 80px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .navbar1 .navbar-logo1 {
    margin-left: 4%;
    margin-top: auto;
    color: #fff;
    margin-bottom: 80px;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }
  .navbar1 .navbar-nav1 a {
    align-self: center;
    color: #000;
    display: inline-block;
    font-size: 1.1rem;
    margin: 1rem;
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: bold;
    text-decoration: none;
  }
  .navbar1 .navbar-nav1 a:hover {
    color: #6bc86e;
    transform: scale(1.1);
  }
  .navbar1 .navbar-nav1 a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linier;
  }
  
  
  .container {
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    background: #fff;
    font-family: Inter;
  }
  .row {
    display: flex;
  }
  .row .bg {
    width: 50%;
  }
  .content {
    margin: 3rem 12rem 0rem 12rem;
  }
  .content .logo {
    width: 50%;
  }
  .content form {
    margin-top: 2rem;
  }
  .content form h2 {
    font-size: 1.3rem;
    margin: 1rem 0rem 0.5rem 0rem;
  }
  .content form .input input {
    text-align-last: center;
    width: 310px;
    height: 40px;
    font-size: 1rem;
    border-radius: 30px;
    border: 3px #6bc86e solid;
  }
  .content form .input button {
    margin-top: 3rem;
    width: 317px;
    height: 40px;
    font-size: 1.2rem;
    background: #6bc86e;
    border-radius: 30px;
    border: 1px #05fd00 solid;
    transition: transform 0.3s;
  }
  .content form .input button:hover {
    transform: scale(1.1);
    background-color: #21ff1ebd;
  }
  .content form .input button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .container .content form p {
    margin-left: 4rem;
  }
  
  
  
  /* button sayuran */
  
  button {
    border: none;
    color: #000;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 50px;
  }
  
  button {
    background-color: #4caf50;
    margin-right: -60px;
    margin-left: 80px;
  }
  .button2 {
    background-color: #4caf50;
    margin-right: 80px;
  }
  
  /*card*/
  
  .card {
    padding: 4px;
    margin-left: 80px;
    width: 25%;
    margin-top: 4%;
    margin-bottom: 13%;
    border-radius: 30px;
    font-family: inter;
  }
  
  .card h4 b {
    font-size: x-large;
  }
  .card p {
    font-size: large;
  }
  
  .buttoncard {
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 35px;
    cursor: pointer;
    width: 60%;
    margin-top: 40px;
    border-radius: 50px;
    margin-left: 70px;
    background-color: #4caf50;
  }
  
  img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 45%;
  }
  
  /* FOOTER */
footer{
    background-color: #6BC86E;
    font-family: inter; 
   
}
.container-footer{
    display: flex;
    margin: 4rem ;
    flex-wrap: wrap;
}
.content-footer{
    flex-wrap: wrap;
    width: 50%;
    padding-top: 1.5rem;
    padding-right: 3rem;
    font-size: 1.3rem;
}

.form-footer{
    display: flex;
    margin-top: 5.5rem;
}
.input-form {
    margin-top: 1rem;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: #05FD00;
}
.bawah {
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: 1rem;
}
.bawah a{
    text-decoration: none;
    font-family: inter;
    color: #000;
}
.btn-footer{
    border: none;
    outline: none;
    font-size: 20px;
    width: 10px;
    margin-left: 1rem;
    font-weight: bold;

}
footer::placeholder{
    color: #000;
}

