html{
  scroll-behavior: smooth;
  
}
body {
  margin: 0px;
}

.hero {
  max-width: 2000px;
  margin-top: 8rem;
}
/* NAVBAR */
.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  height: 80px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
}
.navbar1 .navbar-logo1 {
  margin-left: 4%;
  margin-top: auto;
  color: #fff;
  margin-bottom: 80px;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
.navbar1 .navbar-nav1 a {
  align-self: center;
  color: #000;
  display: inline-block;
  font-size: 1.1rem;
  margin: 1rem;
  margin-bottom: 10px;
  font-family: Inter;
  font-weight: bold;
  text-decoration: none;
}
.navbar1 .navbar-nav1 a:hover {
  color: #6bc86e;
  transform: scale(1.1);
}
.navbar1 .navbar-nav1 a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linier;
}


button:active{
  background-color: #64ec64;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-checkout{
  border-radius: 10px;
  width: 20%;
  margin-top: 1rem;
  margin-left: 80%;
}

/* MASUK */
.container {
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  background: #fff;
  font-family: Inter;
}
.row {
  display: flex;
}
.row .bg {
  width: 50%;
}
.content {
  margin: 3rem 12rem 0rem 12rem;
}
.content .logo {
  width: 50%;
}
.content form {
  margin-top: 2rem;
}
.content form h2 {
  font-size: 1.3rem;
  margin: 1rem 0rem 0.5rem 0rem;
}
.content form .input input {
  text-align-last: center;
  width: 310px;
  height: 40px;
  font-size: 1rem;
  border-radius: 30px;
  border: 3px #6bc86e solid;
}
.content form .input button {
  margin-top: 3rem;
  width: 317px;
  height: 40px;
  font-size: 1.2rem;
  background: #6bc86e;
  border-radius: 30px;
  border: 1px #05fd00 solid;
  transition: transform 0.3s;
}
.content form .input button:hover {
  transform: scale(1.1);
  background-color: #21ff1ebd;
}
.content form .input button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.container .content form p {
  margin-left: 4rem;
}

/* show masuk and hide daftar */

#daftar {
  margin-top: 6.25rem;
  display: none;
}

/* button sayuran */

button {
  border: none;
  color: #000;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 50px;
}

button {
  background-color: #4caf50;
  margin-right: -60px;
  margin-left: 80px;
}

.button-product1 {
  background-color: #4caf50;
  margin-right: 20px;
  margin-left: 380px;
  margin-top: 110px;
  width: 35%;
  border-radius: 50px;
}

.button-product2 {
  background-color: #4caf50;
  margin-right: 20px;
  margin-left: 380px;
  margin-top: 10px;
  width: 35%;
  border-radius: 50px;
}

.button2 {
  background-color: #4caf50;
  margin-right: 80px;
}

/*card*/

.card {
  padding: 4px;
  margin-left: 80px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 4%;
  border-radius: 30px;
  font-family: inter;
}

.card h4 b {
  font-size: x-large;
}
.card p {
  font-size: large;
}

.buttoncard {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 35px;
  cursor: pointer;
  width: 60%;
  margin-top: 40px;
  border-radius: 50px;
  margin-left: 70px;
  background-color: #4caf50;
}

img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 45%;
}

/*pesanan*/

.content-artikel {
  border: 2px solid #104c70;
  border-radius: 20px;
  width: 81.5%;
  height: 250px;
  display: flex;
  margin-left: 110px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}

.content-artikel img {
  width: 30%;
  height: 70%;
  margin-left: 30px;
  margin-top: 40px;
}

.content-artikel {
  font-weight: bold;
  margin-bottom: 20px;
}

.content-artikel p {
  color: #eef3ee;
  font-size: 10px;
  font-weight: 500;
}
.content-artikel h6 {
  font-weight: bold;
  margin-top: 30px;
}
.content-artikel p:hover {
  color: #eef3ee;
}
.content-artikel .user1 {
  margin-top: 110px;
}
.content-artikel .user {
  margin-top: 50px;
}
.content-artikel span {
  background-color: #eef3ee;
  color: #eef3ee;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 2%;
  right: 2%;
}
.content-artikel span:hover {
  background-color: #eef3ee;
  color: #eef3ee;
}

.content-artikel p,
.content-artikel h6 {
  margin: 10px 0px 0px 10px;
}

.content-artikel:hover {
  background-color: #eef3ee;
  color: #eef3ee;

  transition: 0.5s;
  box-shadow: 6px 7px #6bc86e;
}

.content-artikel p {
  margin-left: 20px;
  margin-top: -9px;
  font-size: 16px;
  color: #4caf50;
}
.content-artikel h3 {
  margin-top: 80%;
  margin-left: 18px;
  color: #4caf50;
}
.content-artikel h5 {
  margin-top: 5%;
  margin-left: 18px;
  color: #4caf50;
}

/* Footer*/
footer {
  background-color: #6bc86e;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: black;
}
.isi-container-footer {
  margin-bottom: 20px;
}

.container-footer .isi-container-footer i {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.text-container-footer {
  font-size: 20px;
}

.form-check {
  margin-left: 15%;
  font-weight: bold;
  font-size: 25px;
}

/*cart*/

body {
  /* background: #ddd; */
  /* min-height: 100vh; */
  /* vertical-align: middle; */
  /* display: flex; */
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.title {
  margin-bottom: 5vh;
}
.card1 {
  margin: auto;
  max-width: 950px;
  width: 100%;
  /* border-radius: 1rem; */
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
}
.cart {
  /* background-color: #fff; */
  /* padding: 4vh 5vh; */
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media (max-width: 767px) {
  .cart {
    /* padding: 4vh; */
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}
.summary {
  /* background-color: #ddd; */
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  /* color: rgb(65, 65, 65); */
}
@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}
.summary .col-2 {
  padding: 0;
}
.summary .col-10 {
  padding: 0;
}
.row {
  margin: 0;
}
.title b {
  font-size: 1.5rem;
}
.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2,
.col {
  padding: 0 1vh;
}
a {
  padding: 0 1vh;
}
.close {
  margin-left: auto;
  font-size: 0.7rem;
}
img {
  width: 3.5rem;
}
h5 {
  margin-top: 4vh;
}
hr {
  margin-top: 1.25rem;
}
form {
  padding: 2vh 0;
}
select {
  /* border: 1px solid rgba(0, 0, 0, 0.137); */
  /* padding: 1.5vh 1vh; */
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  /* background-color: rgb(247, 247, 247); */
}
input {
  /* border: 1px solid rgba(0, 0, 0, 0.137); */
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  /* background-color: rgb(247, 247, 247); */
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/*minusplus box*/

input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type="button"] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

